body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Fuente*/
  font-family: 'Anton', sans-serif;

  /*Fondo*/
  background-image: url('https://p.ssl.qhimg.com/t01ac06f05e71e62420.jpg?size=3508x2192');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
